<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <h1>Data Alat Musik</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightgrey; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/alatmusik/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Nama Barang</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Merk</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(alatmusik, i) in data_alatmusik" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ alatmusik.nama_barang }}</td>
          <td>{{ alatmusik.harga }}</td>
          <td>{{ alatmusik.stok }}</td>
          <td>{{ alatmusik.merk }}</td>
          <td>
            <router-link :to="'/alatmusik/' + alatmusik.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(alatmusik.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>Fikri Nugraha</i></b></p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'alatmusik',
  data () {
    return {
      data_alatmusik: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost/tokomusik/public/'
      let url2 = 'alatmusik'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_alatmusik = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost/tokomusik/public/alatmusik/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
