<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/pembeli">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Pembeli</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Pembeli </label></td>
        <td><input type="text" v-model="pembeli.nama_pembeli"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Alamat </label></td>
        <td><input type="text" v-model="pembeli.alamat" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>Fikri Nugraha</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'pembeliForm',
  data () {
    return {
      pembeli: {
        id: null,
        nama_pembeli: '',
        alamat: '',
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost/tokomusik/public/pembeli/'
      api.get(url + id).then(res => {
        this.pembeli = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.pembeli
      let url = 'http://localhost/tokomusik/public/pembeli'

      if (this.pembeli.id) {
        url += '/' + this.pembeli.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/pembeli')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
